.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
    padding-top: 3em;
    width: 70%;
    margin: 0 auto;
   
}
.creators{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    gap: 3em;
    flex-wrap: wrap;
}