.creator-card{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: wheat;
    text-align: center;
    gap: 0.5em;
}

.media{
   border-radius: 50%;
   overflow: hidden;
}
.media img{
    width: 100px;
}