
.comments {
    justify-content: space-between;
    display: flex;
    gap: 2em;
    align-items: center;
    background: var(--inner-background-color);
    border-radius: 0.4em;
    border: 1px solid var(--border-color);
    padding: 0.5em 2em;
  }
  
  .comments input { 
    width: 90%;
    padding: 0.4em 2em;
    font-size: 14px;
    background: var(--inner-background-color);
    color: rgb(153, 18, 18);
    border: 1px solid var(--border-color);
  }
  
  .comments button {
    border: 1px solid var(--border-color);
    background: transparent;
    color: var(--font-color);
    padding: 0.3em 2em;
    border-radius: 0.3em;
  }
  .comments .error-border{
    border: 1px solid red;
    
  }