.comments {
    font-size: 12px;
    color: var(--font-color);
    padding: 0 2em;
    background-color: var(--inner-background-color);
    flex-grow: 1;
    overflow: auto;
    scrollbar-color: var(--inner-background-color) var(--inner-background-color);
    scrollbar-width: thin;
}

