.button {
    text-decoration: none;
    font-size: 100%;
    color: white;
    background: orange;
    padding: 0.5em 3em;
    border-radius: 0.4em;
}


.button {
    text-decoration: none;
    font-size: 100%;
    color: white;
    background: orange;
    padding: 0.5em 3em;
    border-radius: 0.4em;
  }

/*  */
.top-welcome {
   
    width: 100%;
    min-height: 640px;
    position: relative;
    padding: 0;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: white
}

.top-welcome .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-welcome .inner {
    z-index: 312523;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-welcome .inner .content {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 80px;
    line-height: 1.1;
    height: 100%;
}

.top-welcome .media {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

/* .top-welcome .container .media {
    
    position: absolute;
    width: 100%;
    height: 100%;
  } */
video {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-bottom: 3px solid orange;
}

.top-welcome .content p:nth-child(odd) {
    color: orange;
}

.top-welcome .review a {
    text-decoration: none;
    font-size: 26px;
    color: var(--font-color);;
    background: orange;
    padding: 0.5em 3em;
    border-radius: 0.4em;
}

/*  */


.chat-content  {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 0 1 64%;
}

.chat-review {
    flex: 0 1 30%;
}

.chat-review img {
    width: 100%;
}

.chat-content h1 {
    font-size: 40px;
}

.chat-content p {
    font-size: 26px;
}

/* share */




.share-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.share-content p {
    font-size: 26px;
}

.share-images {
   
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    flex: 0 1 35%;
    justify-content: space-between;
}

.share-images .media {
    width: 17%;

    aspect-ratio: 1 / 1;
}

.share-images img {
    width: 100%;
    height: 100%;
   
    border-radius: 50%;
}

/*  */



.friends-content {
    flex: 1 1 auto;
}

.friends-media {
    flex: 0 1 35%;
}

.friends-media img {
    width: 100%;
}

.friends-content h1 {
    font-size: 40px;
}

.friends-content p {
    font-size: 26px;
}