.home-sections {
    padding: 7em 0;
    color: var(--font-color);
    ;
}

.home-sections h1 {
    font-size: 40px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
}

@media (max-width: 1600px) {

    .home-sections h1 {

        font-size: 26px;
    }

}

@media (max-width:900px) {

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4em;
    }
    .home-sections {
        padding: 3em 0;
    }
}