.profile-wrapper {
  width: 100%;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 0 0.3em 0 var(--box-shadow-color);
}

.profile {
  display: flex;
  justify-content: space-between;
  background: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.main {
  display: flex;
}

.profile-main {
  display: flex;
  gap: 2em;
  padding: 1em;
  color: white;

}

.profile-main.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.media {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.media img {
  width: 150px;
  height: 150px;
  width: 100%;
 object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  justify-content: center;
}

.profile-info {
  background: var(--inner-background-color);
  display: flex;
  justify-content: space-between;
  padding: 2em 3em;
  gap: 2em;
}

.content h3 {
  font-size: 24px;
}

.buttons {
  display: flex;
  gap: 1em;

}

.buttons>a:nth-child(1) {
  color: black;

}



.content a {
  text-decoration: none;
  text-align: center;
  color: white;
  background: var(--button-color);
  padding: 0.2em 1.5em;
  border-radius: 0.3em;
}

.profile-stats {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 4em;
}

.profile-stats p {
  font-size: 16px;
  color: var(--font-color);
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}


.profile-description {
  color: var(--font-color);
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.profile-links {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 3em;
  cursor: pointer;
  user-select: none;
  gap: 0.3em;
}

.profile-links a {
  text-decoration: none;
  color: white;
  ;
  background: transparent;
  padding: 0.2em 1em;
  border-radius: 0.3em;
  border: 1px solid var(--border-color);
  font-size: 12px;
}

.edit-profile-button {
  text-decoration: none;
  color: white;
  background-color: var(--button-color);
  padding: 0.5em 2em;
  border-radius: 0.3em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.followers {
  position: relative;
}

.followers::after {
  background-color: var(--font-color);
  width: 2px;
  height: 68%;
  top: 8px;
  right: -2em;
  content: " ";
  position: absolute;


}

.followers::before {
  background-color: var(--font-color);
  width: 2px;
  height: 68%;
  top: 8px;
  left: -2em;
  content: " ";
  position: absolute
}

.copy-link {
  position: relative;

}

.profile-stats>div:hover p {

  color: var(--button-color);

}