.main-profile {
    display: flex;
    gap: 2em;
    padding-bottom: 7em;
}


.video-box {
    display: flex;
    flex-direction: column;
    gap: 3.4em;
    flex: 0 1 70%;
   
}


.video-box>h1 {
    color: rgb(188, 188, 188);
    border-bottom: 1px solid var(--border-color);
    line-height: 2;
}