.notification-wrapper {
    background-color: var(--second-background-color);
    position: absolute;
    top: 40px;
    right: -8px;
    z-index: 1000;
    width: 400px;
    border-radius: 0.7em;
    padding: 0.5em 0 0 0;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow: hidden;
    max-height: 490px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 0.3em 0 var(--box-shadow-color);

}

.notification-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.notification-container::-webkit-scrollbar {
    display: none;
}

.notification-wrapper h4,
.notification-wrapper h3 {
    text-align: center;
    color: var(--font-color);
}

.notification-top {
    display: flex;
    justify-content: space-around;

}

.notification-unread {
    font-size: 14px;
    background-color: var(--inner-background-color);
    border: var(--border-color);
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em;
    gap: 1em;
    border-top: 1px solid var(--border-color);

}

.notification-read {
    font-size: 14px;
    color: var(--font-color-2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em;
    gap: 1em;
    border-top: 1px solid var(--border-color);

}

.notification-read:hover,
.notification-unread:hover {
    background: var(--hover-background-color);

}

.notification div a {
    font-weight: bold;
}

.authorName {
    font-weight: bold;
    color: var(--font-color);
}


.notification-wrapper:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 6px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent var(--second-background-color) transparent;
    z-index: 999;
}

.no-notifications {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;
}

.bell {
    font-size: 60px;
    text-align: center;
}

.notification-info {
    width: 100%;
}

.notification-message {
    display: flex;
    gap: 0.4em;
}

.notification-all-actions {
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    gap: 2em;
    padding: 0 2em;

}

.notification-all-actions p {

    border-radius: 1.7em;
    padding: 0.2em 0.5em;

}

.notification-all-actions p:hover {
    background: grey;



}