.main-profile {
    display: flex;

    gap: 2em;
}


.video {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;

}



.video-wrapper {
    background: var(--inner-background-color);
    border-radius: 0.4em;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.react-player {
  width: 100%;
  height: 100%;
}

.react-player  video{
  
    object-fit: fill;
}
.thumbnail {
    width: 100%;
    height: 100%;

}





.video-owner {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.4em;
}


.video-owner h3 {
    font-size: 20px;
    color: var( --font-color);
}

.video-owner img {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    padding: 0.4em;
}



.video-owner a {
    font-size: 18px;
    color: orange;
    background: rgb(113, 113, 113);
    border-radius: 0.3em;
    padding: 0.2em 1em;
    text-decoration: none;
}


.video-info {
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 2em;
}

.video .social-tab {
    border-top: 1px solid var(--border-color);

    padding: 2em 1em;
    display: flex;
    gap: 1em;
    justify-content: flex-end;

}

.video .social-tab a {
    color:  var(--font-color);
    text-decoration: none;
    border: 1px solid var(--border-color);
    background: transparent;
    padding: 0.5em 1em;
    border-radius: 10em;
}