.blur {
    display: flex;
    gap: 2em;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(57, 54, 54, 0.9);
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;

}

.container {
    padding: 2em 5em;
    display: flex;
    gap: 2em;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

.container .video {

    max-height: 100vh;
}

.aside-section {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.4em;
}

.aside-info {
    padding: 0.5em 1.5em;
    color: var(--font-color);
    display: flex;
    gap: 0.2em;
    flex-direction: column;
    background-color: var(--inner-background-color);
}

.aside-inner {
    flex-grow: 1;
    background-color: var(--inner-background-color);
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.profile-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
    padding: 0 0.5em;
    
}

.profile-info {
    display: flex;
    gap: 0.5em;
}
.profile-info button {

    width: 2px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ;
}
.profile-media img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0.2em;
}

.profile-tab a {
    text-decoration: none;
    color: white;
    background: orange;
    font-size: 12px;
    border-radius: 0.3em;
    padding: 0.2em 0.5em;
}

.video-info {
    font-size: 12px;
}

.game-choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}

.game-choice p {
    font-size: 12px;
}

.game-choice img {
    width: 12px;
    height: 12px;
}

@media (max-width: 1400px) {
    .container {
        flex-direction: column;
        padding: 0 1em;

    }

    .container .video,
    .aside-section {
        flex: 1 1 100%;
    }

    .container .video {
        height: auto;
    }

    .aside-section {
        height: auto;
    }
}