/*  */
footer {
    border-top: 1px solid var(--border-color);
  
}

footer .container {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    align-items: center;
    flex-wrap: wrap;
}

footer .container ul {
   
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
    font-size: 1.2em;

}

footer .connections {
    display: flex;
    gap: 2em;
}

footer .connections img {
    width: 50px;
}