/*  */
footer {
    border-top: 1px solid var(--border-color);
    color: var(--font-color);
}

footer .container {
    display: flex;
    padding: 2em;
    align-items: center;
    flex-wrap: wrap;
    gap: 10em;
    justify-content: center;
   
}

footer .container ul {

    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
    font-size: 1.2em;

}

footer .connections {
    display: flex;
    gap: 2em;
}

footer .connections img {
    width: 50px;
}

.footer-list {
    display: flex;
    gap: 10em;
}

@media (max-width:900px){
    footer .container{
        flex-direction: column;
        gap: 2em;

    }
    .footer-list{
        gap: 6em;
    }
   
}