
.followers-aside {
    color: var(--font-color);
    display: flex;
    flex: 0 1 30%;
    flex-direction: column;
    border: 1px solid var(--border-color);
    align-items: center;
    border-radius: 0.4em;
    background: var(--inner-background-color);;
    height: 500px;
    gap: 1em;
    position: sticky;
    top: 3em;
    box-shadow: 0 0 0.1em 0 var(--box-shadow-color);
    justify-content: center;
    
  }
 
  .media img{
    width: 300px;
  }
  .followers-aside h3 {
    text-align: center;
  }
  .followers-aside h2{
    color: var(--font-color);
  }
  @media (max-width:1200px) {

    .followers-aside{
      display: none;
    }
}