/*  */
.no-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-video h1 {
  color: var(--font-color);
  padding-bottom: 2em;
}

.no-videos-wrapper {
  display: flex;
  gap: 3em;
  flex: 0 1 70%;
  justify-content: center;
  align-items: center;
}

.no-videos-wrapper>div {
  box-shadow: 0 0 0.2em 0 var(--box-shadow-color);
}

.find-friends-box,
.share-video-box {
  text-align: center;
  border: 1px solid var(--border-color);
  background: var(--inner-background-color);
  border-radius: 0.3em;
  height: 300px;
  flex: 1 1 50%;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 4em;
}

.no-videos-wrapper a {
  font-size: 22px;
  font-weight: bold;
  padding: 0.5em 2em;
  color: var(--button-color);
  border: 1px solid var(--border-color);
  background-color: var(--second-background-color);
  border-radius: 0.3em;
  text-decoration: none;
}

.find-friends-box h3,
.share-video-box h3 {

  font-size: 22px;
  color:var(--font-color) ;
}

.find-friends-box p,
.share-video-box p {
  font-size: 18px;
  color:var(--font-color-2);
}

.find-friends-box i,
.share-video-box i {
  font-size: 32px;
  color:var(--font-color-3);
}

.video-box>h1 {
  color: rgb(188, 188, 188);
  border-bottom: 1px solid rgb(91, 91, 91);
  line-height: 2;
}
@media (max-width:900px) {
  .find-friends-box,
  .share-video-box{
    flex: 0 0 50%;
  }
  .no-videos-wrapper {
    display: flex;
    gap: 1em;
    padding: 0 0.5em;
  }
}