.main-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 0.2em 1em;
  font-size: 18px;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--inner-background-color);
  user-select: none;
  box-shadow: 0 0 0.2em 0 var(--box-shadow-color);
  padding:0 3em;

}
.main-header .logo {
  display: flex;
  align-items: center;
  gap: 1em;
  
}
.main-header .logo img{
  width: 90px;
  
}

.main-header nav ul {
  display: flex;
  list-style: none;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
}

.main-header nav ul li a {
  text-decoration: none;
  color: var(--font-color);
  display: flex;
}
.main-header nav ul li a:hover {

  color: var(--button-color);
 
}
.buttons{
  background-color: var(--hover-background-color);
  padding: 0.3em 1em;
  border-radius: 0.5em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

/* .register-button {


}

.login-button {} */


.drop-menu-profile{
  position: relative;
}
.drop-menu-profile img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.drop-menu-profile img:hover{
  border: 1px solid grey;
} 

@media (max-width: 900px) {
  .main-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-header .logo{
    gap: 3em;
  }
  .main-header nav ul{
    gap: 2.2em;
  }
}