.main-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color);
  padding: 1em 3em;
  font-size: 18px;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--inner-background-color);

}

.main-header .logo p {
  font-size: 32px;
  color: var(--font-color);
}

.main-header nav ul {
  display: flex;
  list-style: none;
  gap: 2em;
  flex-wrap: wrap;
}

.main-header nav ul li a {
  text-decoration: none;
  color: var(--font-color);
}