.container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    gap: 3em;
    padding-bottom: 5em;
    max-width: 1600px;
    margin: 0 auto;
}

.video-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    
}

