#root {
    display: flex;
    flex-direction: column;
    height: 100vh;


}

.app {

    flex: 1 0 100vh;
}

.main-app {

    flex: 1;
    min-height: 90vh;
}

.react-player__play-icon {
    display: none !important;
}

.overflow-y-hidden {
    overflow-y: hidden;
}