@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://use.fontawesome.com/releases/v6.5.0/css/all.css");



:root {
  --body-background: #0F0F0F;
  --inner-background-color: #161618;
  --font-color: white;
  --font-color-read: rgb(183, 183, 183);
  --smaller-text-color: #89898B;

  
  --button-color: #FFB74E;
  --border-color: #323232;
  --second-background-color: #232323;
  --hover-background-color: #414141;
  --font-background-un-read: #2f2f2f;
  --blur-color: rgba(57, 54, 54, 0.9);
  --button-backgorund-color: rgb(44, 44, 44);
}

[data-theme="light"] {
  --body-background: rgb(255, 255, 255);
  --font-color: black;
  --body-color: black;
  --button-color: rgb(1, 232, 244);
  --border-color: rgb(187, 186, 186);
  --form-color: rgb(35, 7, 7);
  --second-background-color: #8e8e8e;
  --inner-background-color: #cfebf0;
}




*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px/1.5 "Roboto";
}



.app {
  background: var(--body-background);
  color: var(--body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

}