@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://use.fontawesome.com/releases/v6.5.0/css/all.css");



:root {
  --body-background: #0F0F0F;
  --inner-background-color: #161618;
  --second-background-color: #232323;
  --hover-background-color: #414141;
  --game-bar-specific-color-hover: rgb(138, 136, 136);
  --font-color: white;
  --font-color-2: #89898B;
  --font-color-3: #2f2f2f;
  --button-color: #FFB74E;
  --button-backgorund-color: rgb(44, 44, 44);
  --blur-color: rgba(57, 54, 54, 0.9);
  --border-color: #323232;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
}

[data-theme="light"] {
  --body-background: #F0F2F5;
  --inner-background-color: #FFFFFF;
  --second-background-color: #F0F2F5;
  --hover-background-color: #cacaca;
  --font-color: #2f2f2f;
  --font-color-3: #65676B;
  --font-color-2: #89898B;
  --button-color: #3352eb;
  --button-backgorund-color: rgb(194, 192, 192);
  --blur-color: rgba(57, 54, 54, 0.9);
  --border-color: #dedede;
  --game-bar-specific-color-hover: #232323
}




*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px/1.5 "Roboto";
}

body{
  min-width: 630px;
  overflow-x: hidden;

}

.app {
  background: var(--body-background);
  color: var(--body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

}